@using PRN211_22_08.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PRN211_22_08.Models.Account
<h1>System  Login </h1>
@if (TempData["msg"] != null)
{
    <p style="red">@TempData["msg"]</p>
}
<form method="post" asp-controller="Account" asp-action="Login">
    Email :  <input asp-for="Email" /> <span asp-validation-for="Email"></span><br />
    Password :  <input asp-for="Password" /> <span asp-validation-for="Password"></span><br />
    <input type="submit" value="Login" />
</form>
