:root {
    --cgv-card-item-hover-background-color: #00000080;
    --cgv-card-item-sub-font-size: 12px;
    --cgv-card-item-sub-color: gray;
}

.cgv-body__card-item {
    background-color: var(--cgv-body-background-color);
    color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}

    .cgv-body__card-item:hover {
        background-color: var(--cgv-card-item-hover-background-color);
    }

.cgv-body__card-item--body {
    padding-top: 5px;
}

.cgv-body__card-item--body--sub {
    font-size: var(--cgv-card-item-sub-font-size);
    color: var(--cgv-card-item-sub-color);
}
