.cgv-recommended-videos__video {
    border-radius: 4px;
}

    .cgv-recommended-videos__video:hover {
        background-color: #ffffff21;
    }

.cgv-rating {
    display: flex;
}

.cgv-rating__star {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
